{% extends "./base.html" %} 
{% load static %} 


{% block body %}

<div class="form">
    <div class="thank-you-container">
    <h2>Thank you for enrolling!</h2>
    
    <p style="margin-top: 10px;">We're excited to have you on board for our software development training program!</p>
    <p>Keep an eye on your inbox for further details on the course schedule, resources, and how to get started. If you have any questions or need assistance, our team is here to support you every step of the way</p>
    </div>
</div>

{% endblock body %}